{% assign position_class = section.settings.content_position | prepend: 'hero__content--' %}

{% schema %}
{
  "name": "Hero",
  "tag": "div",
  "class": "hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome to our store"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Add your store details here"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content position",
      "options": [
        {
          "value": "top-left",
          "label": "Top left"
        },
        {
          "value": "top-center",
          "label": "Top center"
        },
        {
          "value": "top-right",
          "label": "Top right"
        },
        {
          "value": "middle-left",
          "label": "Middle left"
        },
        {
          "value": "middle-center",
          "label": "Middle center"
        },
        {
          "value": "middle-right",
          "label": "Middle right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom right"
        }
      ],
      "default": "middle-center"
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "settings": {
        "heading": "Welcome to our store",
        "text": "Add your store details here",
        "content_position": "middle-center"
      }
    }
  ]
}
{% endschema %}

<div class="hero__content {{ position_class }}" {% if section.settings.background_image != blank %}style="background-image: url({{ section.settings.background_image | image_url: width: 2000 }});"{% endif %}>
  {% if section.settings.heading != blank %}
    <h1>{{ section.settings.heading | escape }}</h1>
  {% endif %}
  
  {% if section.settings.text != blank %}
    <p>{{ section.settings.text | escape }}</p>
  {% endif %}

  {% if section.settings.button_label != blank and section.settings.button_link != blank %}
    <a href="{{ section.settings.button_link }}" class="button">
      {{ section.settings.button_label | escape }}
    </a>
  {% endif %}
</div> 